body {
  padding-top: 60px;
  padding-bottom: 10px;
    background-image:url("pic.jpeg");
<<<<<<< HEAD
    background-size:100%;
    background-repeat:repeat;
=======
    background-repeat:no-repeat;
>>>>>>> fa93de6e88ef28692adb1702e1600f02fcea5f9a
    margin: auto;
    border: 5px;
    border-color:white;
    font-style: normal;
<<<<<<< HEAD
    color:white;
=======
>>>>>>> fa93de6e88ef28692adb1702e1600f02fcea5f9a
}
footer{
  background-color: #000000;
  font-style: italic;
  text-align: center;
  color: white;
}
form{
  margin-left:30px;
  margin-top:100px;
}
h2{
margin-left:300px;
}
#image{
  height:300px;
  width:300px;
}
#division{
  margin-top:100px;
}
#division1{
  margin-top:100px;
}
.section{
  font-style: italic;


}
.section-header{
  font-style: italic;
}
#current-sec{
  font-style: italic;
}
<<<<<<< HEAD
#current-se1{
=======
#current-se{
>>>>>>> fa93de6e88ef28692adb1702e1600f02fcea5f9a
  font-style: italic;
}
