body {
  padding-top: 60px;
  padding-bottom: 10px;
    background-image:url("pic.jpeg");
    background-size:100%;
    background-repeat:repeat;
    margin: auto;
    border: 5px;
    border-color:white;
    font-style: normal;
    color:white;
}
footer{
  background-color: #000000;
  font-style: italic;
  text-align: center;
  color: white;
}
form{
  margin-left:30px;
  margin-top:100px;
}
h2{
margin-left:300px;
}
#image{
  height:300px;
  width:300px;
}
#division{
  margin-top:100px;
}
#division1{
  margin-top:100px;
}
.section{
  font-style: italic;


}
.section-header{
  font-style: italic;
}
#current-sec{
  font-style: italic;
}
#current-se1{
  font-style: italic;
}
